*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  border: none;
  box-shadow: none;
}

*:focus{
  border: none;
  box-shadow: none;
  outline: none;
}

body, html{
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 200px;
  height: auto;
}

form, .wrapper, #response{
  padding: 10px;
}

header, section{
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

.reset{
  float: right;
}

.title{
  float: right;
  /* text-align: center; */
}

.wrapper{
  float: left;
  width: 49%;
}


input, a, span{
  width: 100%;
  display: block;
  border-bottom: 1px solid #313131;
  padding: 2px;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

a, span{
  margin: 0;
  font-size: 0.5em;
  padding: 4px;
  border-bottom: none;
}

input{
  margin: 10px auto 10px auto;
}

input:focus, input:hover, a:focus, a:hover{
  border-bottom: 1px solid black;
}

.button{
  border: 1px solid black;
  background: #444444;
  color: white;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}

a.button{
  color: black;
  background: white;
  cursor: pointer;
}

.button:hover{
  background: black;
}

a.button:hover{
  color: white;
}

.hidden{
  display: none;
}

#response{
  width: 90%;
  margin: 0 auto 10px auto;
  border: 1px solid black;
  text-align: center;
}
