input {
  width: 100%;
  height: auto;
  appearance: none;
  padding: 0 var(--margin-q);
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--fg-01);
  outline: none;
  border: none;
  border-bottom: 2px solid var(--fg-01);
  transition: all 0.2s ease;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  text-align: right;
}

input[type='color'] {
  height: 50px;
  border: none;
}

input:focus {
  /* color: var(--hl-02); */
  color: var(--fg-02);
  border-color: var(--hl-02);
}
