.button {
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  text-shadow: none;
  cursor: pointer;
  text-transform: uppercase;

  font-weight: bold;
  color: var(--fg-02);
  background: var(--bg-alt);
  padding: var(--margin-h) var(--margin-04);
}

.button.-s {
  border: none;
  line-height: 1em;
  font-size: 0.75em;
  padding: var(--margin-01) var(--margin-02);
  /* text-transform: none; */
}

.button:not(.-icon) {
  border: 2px solid var(--bg-alt);
}

.button:focus {
  outline: none;
}

.button:hover {
  background: var(--bg);
  border-color: var(--hl-01);
  /* color: var(--hl-01); */
}

.button.-s:hover {
  color: var(--bg);
  border-color: var(--hl-02);
  background-color: var(--hl-02);
}
