.delete {
  margin-top: var(--margin-02);
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}

.delete .ligo-row {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}

.delete .ligo-row:not(:last-child) {
  padding-bottom: var(--margin-01);
  margin-bottom: var(--margin-01);
  border-bottom: 2px solid var(--bg-alt);
}

.delete .content {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--margin-01);
}

.delete .content .link {
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: var(--margin-02);
}

.delete footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.delete .tags {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.delete .tags li {
  border-radius: var(--margin-02);
  padding: 0 var(--margin-01);
  border: 2px solid var(--fg-01);
  padding-bottom: var(--margin-q);
  font-size: 0.75em;
}

.delete .tags li:not(:last-child) {
  margin-right: var(--margin-01);
}

/* span { */
/*   width: 100%; */
/*   height: auto; */
/*   padding: var(--margin-h) 0 2px 0; */
/*   color: var(--light-blue); */
/*   background: transparent; */
/*   border: 2px solid var(--medium-gray); */
/*   transition: all 0.2s ease; */
/* } */
