header
section
  width 100%
  height auto
  display block
  overflow hidden

h1
  display block

a
  text-decoration none

a
span
  margin 0
  font-size 0.5em

.wrapper
  width calc(100% - 20px)
  display block
  margin auto

.hidden
  display none
