form
    width 100%
    display block
    font-family $fontSans

fieldset
    width 49%
    items-algin stretch
    &.enviar
        width 100%
        margin 20px 0 0 0
        display block
        text-align right
input
textarea
    width 100%
    margin 0
    color $black
    background transparent
    font-weight 600
    font-size 1.0em
    font-family $fontSans
    text-transform uppercase
    border-radius 0
    border none
    box-shadow none
    outline none
    border 2px solid $black
    margin 0 auto 10px auto
    padding 5px
    transition border-color .2s ease
    &:first-child
        margin 0 auto 10px auto
    &:last-child
        margin 0 auto 0 auto
    &::placeholder
        color $black
        text-transform uppercase
        font-weight 600
        font-size 1.0em
    &:focus
    &:invalid
        border-radius 0
        border none
        box-shadow none
        outline none
        border 2px solid $black
    &:-moz-focusring
        outline none
    &:invalid
        color $highlight-pink
        border-color $highlight-pink
    &[type="submit"]
        color $highlight-blue
        border 2px solid $highlight-blue
        background-color transparent
        margin 0
        cursor pointer
        transition background-color 0.2s ease
        display inline-block
        &:hover
            background-color $highlight-blue
            color $black
    &[type="radio"]
        opacity 0
        position absolute
        display none
        &:focus+label
        &:checked+label
            color $highlight-blue
        &:disabled+label
            opacity 0.8
        &+label
            font-weight 200
            cursor pointer
            width 100%
            display block
            margin 5px auto 5px auto
            transition color 0.2s ease
            &:first-of-type
                margin 20px auto 5px auto
            &:last-of-type
                margin 5px auto 0 auto
textarea
    resize none
    overflow auto
    font-size 1.25em
    &::selection
        background-color $black
