#header {
  width: 100%;
  background: var(--bg);
  border-bottom: 2px solid var(--bg-alt);
  padding: var(--margin-01) var(--margin-02);
}

#header .wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#header .wrapper .actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#header .wrapper .actions > *:not(:last-child) {
  margin-right: var(--margin-01);
}

#header h1 {
  line-height: 0.5em;
}

#header svg {
  width: auto;
  height: 20px;
  display: block;
}
