#header {
  background: var(--bg);
  border-bottom: 2px solid var(--bg-alt);
  padding: var(--margin-01);
}

#header .wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

#header a {
  text-decoration: none;
  color: currentcolor;
  transition: color 0.2s ease;
  width: 20px;
}

#header a:first-child {
  margin-right: auto;
}

#header a:hover {
  color: var(--hl-01);
}

#header svg {
  width: auto;
  height: 20px;
  display: block;
}
