@import 'nib'
@import 'lib/*'

global-reset()

*
    box-sizing border-box

html
body
    min-width 250px
    margin 0
    padding 0
    color $black
    background $white
    font-family $font
    word-spacing 0.2em
    letter-spacing 0.0825em
body
    padding 0 0 20px 0
    .wrapper
        height auto
        display block
        margin auto
    /* .hideMobile */
    /*     @media screen and (max-width: $mobile-width) */
    /*         display none !important */

@import 'components/*'
