#footer {
  width: 100%;
  color: var(--fg-02);

  background: var(--bg);
  border-top: 2px solid var(--bg-alt);
  padding: var(--margin-01) var(--margin-02);
  margin-top: var(--margin-01);

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

#footer .wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#footer svg {
  width: auto;
  height: 20px;
  display: block;
}
