* {
  font-family: var(--font);
  scrollbar-color: var(--bg) var(--bg-alt);
  scrollbar-width: thin;
}

html,
body {
  min-width: var(--popup-width);
  background: var(--bg);
  color: var(--fg-02);
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.date {
  font-family: var(--font-mono);
}

.wrapper {
  margin: auto;
  width: var(--popup-width);
  width: 100%;
}

main {
  padding-bottom: var(--footer-height);
}
