@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --font: 'Barlow', sans-serif;
  --font-mono: 'Roboto Mono', sans-serif;

  /* sizes */
  --border-division: 2px;
  --popup-width: 350px;
  --popup-height: 550px;
  --side-width: 70px;
  --footer-height: 50px;

  /* colors */

  --bg: #fff;
  --bg-alt: #eee;
  --fg-01: #716c6c;
  --fg-02: #000;
  --hl-01: #fdd000;
  --hl-02: #ec008c;
  --border: var(--fg-02);

  --bg: #000;
  --fg-02: #fff;
  --bg-alt: #1d1f21;
  --hl-01: #ec008c;
  --hl-02: #fdd000;
  --border: var(--bg-alt);

  /* margins */

  --margin-q: calc(var(--margin-01) / 4);
  --margin-h: calc(var(--margin-01) / 2);
  --margin-01: 8px;
  --margin-02: calc(var(--margin-01) * 2);
  --margin-03: calc(var(--margin-01) * 3);
  --margin-04: calc(var(--margin-01) * 4);
  --margin-05: calc(var(--margin-01) * 5);
  --margin-06: calc(var(--margin-01) * 6);
  --margin-07: calc(var(--margin-01) * 7);
  --margin-08: calc(var(--margin-01) * 8);
  --margin-09: calc(var(--margin-01) * 9);
  --margin-10: calc(var(--margin-01) * 10);
}
