.submit {
  background: var(--bg);
}

form,
.form {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}

form > *:not(:last-child) {
  margin-bottom: var(--margin-02);
}

form .button {
  /* margin-left: auto; */
}

label {
  margin: 0 0 var(--margin-01) 0;
  display: block;
  color: var(--hl-01);
}

.fieldset {
  border: none;
  padding: 0;
}
