@keyframes message {
  0% {
    border-color: var(--hl-01);
  }
  50% {
    border-color: var(--hl-02);
  }
}

.message {
  flex: 1 1 auto;
  width: 100%;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.message .wrapper {
  padding: var(--margin-01);
  border: 2px solid var(--hl-01);
  animation: message 1s linear 1s infinite;
}
